## MOVING AVERAGE
A moving average is a statistical technique used to analyze data points by creating a series of averages of different subsets of the full dataset. It's commonly used in time series analysis to smooth out short-term fluctuations and highlight longer-term trends or cycles.


**`Stationary Time Series Data:`** Moving averages are typically useful for stationary time series data. Stationary data has constant mean, variance, and autocorrelation over time. Moving averages can help smooth out noise and highlight underlying trends or patterns in stationary data.

**`Fluctuating Time Series Data:`** Moving averages can still be useful for fluctuating time series data, but their effectiveness may be limited. Fluctuating data, which exhibits changing mean, variance, or autocorrelation over time, may not be well-suited for simple moving average techniques. In such cases, `more advanced methods like exponential smoothing or ARIMA models` might be more appropriate to capture the complex dynamics of the data.

In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime
import pandas as pd

mpl.rcParams['figure.figsize'] = (10, 8)
mpl.rcParams['axes.grid'] = False

In [3]:
def datetime_parse(x):
    return datetime.strptime(x, '%m/%d/%Y')

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/electricity_consumption.csv',
                 parse_dates = ['Bill_Date'], date_parser = datetime_parse)

/var/folders/vd/7kcv0wsd01qflzy6p6wd496h0000gn/T/ipykernel_37090/2534807137.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/electricity_consumption.csv',

In [5]:
df

    Bill_Date  On_peak  Off_peak  Usage_charge  Billed_amount  Billing_days
0  2016-01-01      365    1423.5        219.00         247.73            31
1  2016-02-01      292    1138.8        175.20         234.11            31
2  2016-03-01      130     507.0         78.00         123.85            29
3  2016-04-01      117     456.3         70.20         111.22            29
4  2016-05-01      136     530.4         81.60         118.37            29
5  2016-06-01       63     245.7         37.80          77.81            32
6  2016-07-01      110     429.0         66.00          86.67            30
7  2016-08-01      176     686.4        105.60         122.40            29
8  2016-09-01      357    1392.3        214.20         223.62            33
9  2016-10-01      235     916.5        141.00         152.54            29
10 2016-11-01      193     752.7        115.80         150.54            32
11 2016-12-01      344    1341.6        206.40         244.37            31
12 2017-01-01      347    1353.3        208.20         263.64            33
13 2017-02-01      330    1287.0        198.00         214.32            27
14 2017-03-01      185    1103.0        139.38         151.54            31
15 2017-04-01      179     704.0        109.26         118.79            29
16 2017-05-01      228     829.0        140.89         153.18            31
17 2017-06-01      359    1067.0        195.07         212.08            31
18 2017-07-01      468    1533.0        258.64         281.19            32
19 2017-08-01      400    1252.0        218.87         237.97            30
20 2017-09-01      432    1447.0        261.50         284.30            30
21 2017-10-01      253     777.0        158.83         172.69            31
22 2017-11-01      165     521.0        102.57         111.51            29
23 2017-12-01      186     912.0        139.27         151.42            31
24 2018-01-01      316    1869.0        245.88         267.32            33
25 2018-02-01      256    1229.0        185.20         201.35            29
26 2018-03-01      266    1337.0        194.50         202.91            26
27 2018-04-01      141     812.0        143.44         150.86            34
28 2018-05-01      167     791.0        154.70         163.07            29
29 2018-06-01      257    1051.0        208.55         219.76            30
30 2018-07-01      295    1482.0        269.93         283.98            33
31 2018-08-01      330    1470.0        275.71         290.15            29
32 2018-09-01      261    1375.0        245.48         257.96            26
33 2018-10-01      366    1705.0        311.34         327.19            25
34 2018-11-01      245    1036.0        184.40         193.49            30
35 2018-12-01      125     899.0        145.26         152.34            32
36 2019-01-01      151    1257.0        187.91         196.62            31
37 2019-02-01      121    1281.0        181.85         190.07            31
38 2019-03-01      128    1351.0        190.04         198.57            27
39 2019-04-01       95     683.0        111.62         115.15            31
40 2019-05-01      162     783.0        147.83         153.18            29
41 2019-06-01      131     722.0        127.51         138.53            31
42 2019-07-01      276    1254.0        219.52         238.48            31
43 2019-08-01      376    1636.0        284.90         309.65            30
44 2019-09-01      501    2139.0        371.61         403.89            34
45 2019-10-01      279    1309.0        224.52         244.03            27
46 2019-11-01      171     843.0        133.84         145.46            31
47 2019-12-01       99     927.0        128.12         139.26            32
48 2020-01-01      211    1761.0        231.71         251.85            31
49 2020-02-01      190    1635.0        210.86         229.18            32
50 2020-03-01      151    1179.0        156.56         170.16            29
51 2020-04-01       75     625.0         87.27          94.85            29
52 2020-05-01      147     686.0        124.39         135.19            29

In [7]:
bill_df = df.set_index('Bill_Date')

In [8]:
bill_df

            On_peak  Off_peak  Usage_charge  Billed_amount  Billing_days
Bill_Date
2016-01-01      365    1423.5        219.00         247.73            31
2016-02-01      292    1138.8        175.20         234.11            31
2016-03-01      130     507.0         78.00         123.85            29
2016-04-01      117     456.3         70.20         111.22            29
2016-05-01      136     530.4         81.60         118.37            29
2016-06-01       63     245.7         37.80          77.81            32
2016-07-01      110     429.0         66.00          86.67            30
2016-08-01      176     686.4        105.60         122.40            29
2016-09-01      357    1392.3        214.20         223.62            33
2016-10-01      235     916.5        141.00         152.54            29
2016-11-01      193     752.7        115.80         150.54            32
2016-12-01      344    1341.6        206.40         244.37            31
2017-01-01      347    1353.3        208.20         263.64            33
2017-02-01      330    1287.0        198.00         214.32            27
2017-03-01      185    1103.0        139.38         151.54            31
2017-04-01      179     704.0        109.26         118.79            29
2017-05-01      228     829.0        140.89         153.18            31
2017-06-01      359    1067.0        195.07         212.08            31
2017-07-01      468    1533.0        258.64         281.19            32
2017-08-01      400    1252.0        218.87         237.97            30
2017-09-01      432    1447.0        261.50         284.30            30
2017-10-01      253     777.0        158.83         172.69            31
2017-11-01      165     521.0        102.57         111.51            29
2017-12-01      186     912.0        139.27         151.42            31
2018-01-01      316    1869.0        245.88         267.32            33
2018-02-01      256    1229.0        185.20         201.35            29
2018-03-01      266    1337.0        194.50         202.91            26
2018-04-01      141     812.0        143.44         150.86            34
2018-05-01      167     791.0        154.70         163.07            29
2018-06-01      257    1051.0        208.55         219.76            30
2018-07-01      295    1482.0        269.93         283.98            33
2018-08-01      330    1470.0        275.71         290.15            29
2018-09-01      261    1375.0        245.48         257.96            26
2018-10-01      366    1705.0        311.34         327.19            25
2018-11-01      245    1036.0        184.40         193.49            30
2018-12-01      125     899.0        145.26         152.34            32
2019-01-01      151    1257.0        187.91         196.62            31
2019-02-01      121    1281.0        181.85         190.07            31
2019-03-01      128    1351.0        190.04         198.57            27
2019-04-01       95     683.0        111.62         115.15            31
2019-05-01      162     783.0        147.83         153.18            29
2019-06-01      131     722.0        127.51         138.53            31
2019-07-01      276    1254.0        219.52         238.48            31
2019-08-01      376    1636.0        284.90         309.65            30
2019-09-01      501    2139.0        371.61         403.89            34
2019-10-01      279    1309.0        224.52         244.03            27
2019-11-01      171     843.0        133.84         145.46            31
2019-12-01       99     927.0        128.12         139.26            32
2020-01-01      211    1761.0        231.71         251.85            31
2020-02-01      190    1635.0        210.86         229.18            32
2020-03-01      151    1179.0        156.56         170.16            29
2020-04-01       75     625.0         87.27          94.85            29
2020-05-01      147     686.0        124.39         135.19            29

In [10]:
bill_2018 = bill_df['2016':'2018'][['Billed_amount']]

In [11]:
bill_2018

            Billed_amount
Bill_Date
2016-01-01         247.73
2016-02-01         234.11
2016-03-01         123.85
2016-04-01         111.22
2016-05-01         118.37
2016-06-01          77.81
2016-07-01          86.67
2016-08-01         122.40
2016-09-01         223.62
2016-10-01         152.54
2016-11-01         150.54
2016-12-01         244.37
2017-01-01         263.64
2017-02-01         214.32
2017-03-01         151.54
2017-04-01         118.79
2017-05-01         153.18
2017-06-01         212.08
2017-07-01         281.19
2017-08-01         237.97
2017-09-01         284.30
2017-10-01         172.69
2017-11-01         111.51
2017-12-01         151.42
2018-01-01         267.32
2018-02-01         201.35
2018-03-01         202.91
2018-04-01         150.86
2018-05-01         163.07
2018-06-01         219.76
2018-07-01         283.98
2018-08-01         290.15
2018-09-01         257.96
2018-10-01         327.19
2018-11-01         193.49
2018-12-01         152.34

Simple Moving average

$\frac{(t + (t-1) + (t-2) + ... + (t-n))}{n}$